/* NAVBAR */
.navbar {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 15px;
    background-color: transparent;
    padding-bottom: 20px;
    border-bottom: 2px solid black;
}

.navbar-brand {
    padding-left: 10px;
    font-size: 25px;
    font-weight: bold;
}

.nav-logo {
    margin-left: 10px;
    margin-right: 20px;
}

.nav-item {
    vertical-align: middle;
    margin-right: 20px;
}

.nav-link {
    color: black;
    font-size: 15px;
}

#logout {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    color: black;
    width: 100px;
    height: 40px;
}

#logout:hover {
    background-color: black;
    color: white;
}

/* END NAVBAR */


/* BODY */

.h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#form-description {
    text-align: left;
}

p {
    text-indent: 50px;
}

.sections {
    margin-top: 10px;
    justify-content: left;
    display: inline-flex;
}

.label {
    background-color: black;
    padding: 10px;
    font-size: 20px;
    color: white;
    border-radius: 10px;
}

#section-number {
    padding-left: 15px;
    padding-right: 15px;
    margin-right: 5px;
}

#section-title {
    padding-left: 15px;
    width: 1060px;
    text-align: left;
    /* padding-right: 75%; */
}

.input {
    position: relative;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    /* width: 98.3%; */
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    border: 2px solid;
    border-radius: 10px;
}

.form-control, .form-select, .radio-options {
    margin-top: 5px;
    margin-bottom: 10px;
}

.form-control, .form-select {
    border: 1px solid black;
}

input[type="radio"] {
    border: 0.05em solid black;
}

.button-fields {
    margin: 50px;
}

.save-button {
    background-color: black;
    border: 1px solid black;
    border-radius: 30px;
    color: white;
    width: 200px;
    height: 50px;
}

.save-button:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}