<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" href="../style/form.css"> <!-- TO CHANGE -->

</head>
<body>

    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href="" class="navbar-brand"> <img src="../img/logo.png" alt=""> <span class="nav-logo">WEBSITE</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a> <!-- To insert link here-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/search">Search</a> <!-- To insert link here-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/form">Form</a> <!-- To insert link here-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/result">Result</a> <!-- To insert link here-->
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <span class="msg">Logged in as <b id="username"></b></span>
                    </li>
                    <li class="nav-item">
                        <button type="submit" class="btn btn-primary" id="logout">Logout</button> <!-- BUTTON NOT PROPERLY PLACED -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container text-center">
        <p class = "h1">FORM PAGE</p>
        <div class="row" style="width: 1100px; margin: 10px;">
            <div class="col" id="form-description">
                <p>This section will collect patient information: basic information, physical health, social and
                relationship circumstances, financial circumstance, and psychological well-being. The information inputted
                will be saved as a record that will be run on the machine learning model, Logistic Regression. From the data provided,
                the system will return a diagnosis based on the different attributes that may imply whether the patient has depression
                or not.</p>
                <p> In compliance with the <b>Data Privacy Act of 2012</b> or <b>Republic Act 10173</b>, and its Implementing Rules and Regulations (IRR),
                all data collected shall be treated with utmost privacy and confidentiality. Necessary precautions will be taken
                by the DAISo team to protect personal information inputted in this system.</p>
            </div>
        </div>

        <div class="sections">
            <span class="label" id="section-number">01</span> <span class="label" id="section-title">BASIC INFORMATION</span>
        </div>
        
        <div class="input">
            <div class="row">
                <div class="col-md-4">
                    <label for="first-name" class="form-label">First Name</label>
                    <input type="text" id="first-name" class="form-control">

                    <label for="AGERNG" class="">Age (AGERNG)</label>
                    <select id="AGERNG" class="form-select">
                        <option value="" disabled selected>Choose...</option>
                        <option value="16-20">16-20</option>
                        <option value="21-25">21-25</option>
                        <option value="26-30">26-30</option>
                        <option value="31-35">31-35</option>
                        <option value="36-40">36-40</option>
                        <option value="41-45">41-45</option>
                        <option value="46-50">46-50</option>
                        <option value="51-55">51-55</option>
                        <option value="56-60">56-60</option>
                        <option value="61+">61+</option>
                    </select>
        
                    <label for="EDU" class="">Educational Attainment</label>
                    <select id="EDU" class="form-select">
                        <option value="" disabled selected>Choose...</option>
                        <option value="HSC">HSC</option>
                        <option value="SSC">SSC</option>
                        <option value="Graduate">Graduate</option>
                        <option value="Post Graduate">Post Graduate</option>
                    </select>
                </div>
        
                <div class="col-md-4">
                    <label for="last-name" class="form-label">Last Name</label>
                    <input type="text" id="last-name" class="form-control">

                    <label for="GENDER" class="">Gender</label>
                    <div class="radio-options">
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <div class="form-check">
                                    <input type="radio" name="GENDER" id="gender-male" value="male" class="form-check-input" onclick="select_gender()">
                                    <label for="gender-male" class="form-check-label">Male</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="GENDER" id="gender-female" value="female" class="form-check-input" onclick="select_gender()">
                                    <label for="gender-female" class="form-check-label">Female</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <label for="PROF" class="">Profession</label>
                    <select id="PROF" class="form-select">
                        <option value="" disabled selected>Choose...</option>
                        <option value="Student">Student</option>
                        <option value="Service holder (Private)">Service holder (Private)</option>
                        <option value="Service holder (Government)">Service holder (Government)</option>
                        <option value="Businessman">Businessman</option>
                        <option value="Unemployed">Unemployed</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
        
                <div class="col-md-4">                    
                    <label for="MARSTS" class="">Marital Status</label>
                    <select id="MARSTS" class="form-select">
                        <option value="" disabled selected>Choose...</option>
                        <option value="Unmarried">Unmarried</option>
                        <option value="Married">Married</option>
                        <option value="Divorced">Divorced</option>
                    </select>
        
                    <label for="RESDPL" class="">Type of Residence</label>
                    <select id="RESDPL" class="form-select">
                        <option value="" disabled selected>Choose...</option>
                        <option value="Town">Town</option>
                        <option value="City">City</option>
                        <option value="Village">Village</option>
                    </select>
                </div>
            </div>
        </div>
        
        <div class="sections">
            <span class="label" id="section-number">02</span> <span class="label" id="section-title">PHYSICAL HEALTH</span>
        </div>

        <div class="input">
            <div class="row">
                <div class="col-md-4">
                    <label for="PHEX" class="">Physical Exercise (PHEX)</label>
                    <select id="PHEX" class="form-select">
                        <option value="" disabled selected>Choose...</option>
                        <option value="Sometimes">Sometimes</option>
                        <option value="Never">Never</option>
                        <option value="Regularly">Regularly</option>
                    </select>
            
                    <label for="AVGSLP" class="">Average Sleep Hours (AVGSLP)</label>
                    <select id="AVGSLP" class="form-select">
                        <option value="" disabled selected>Choose...</option>
                        <option value="Below 5 hours">Below 5 hours</option>
                        <option value="5 hours">5 hours</option>
                        <option value="6 hours">6 hours</option>
                        <option value="7 hours">7 hours</option>
                        <option value="8 hours">8 hours</option>
                        <option value="More than 8 hours">More than 8 hours</option>
                    </select>

                    <label for="PREMED" class="">Taking Prescribed Med (PREMED)</label>
                        <div class="radio-options">
                            <div class="row">
                                <div class="d-flex justify-content-center">
                                    <div class="form-check">
                                        <input type="radio" name="PREMED" id="premed-yes" value="yes" class="form-check-input" onclick="select_premed()">
                                        <label for="premed-yes" class="form-check-label">Yes</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" name="PREMED" id="premed-no" value="no" class="form-check-input" onclick="select_premed()">
                                        <label for="premed-no" class="form-check-label">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            
                <div class="col-md-4">
                    <label for="ILLNESS" class="">With Illness</label>
                        <div class="radio-options">
                            <div class="row">
                                <div class="d-flex justify-content-center">
                                    <div class="form-check">
                                        <input type="radio" name="ILLNESS" id="illness-yes" value="yes" class="form-check-input" onclick="select_illness()">
                                        <label for="illness-yes" class="form-check-label">Yes</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" name="ILLNESS" id="illness-no" value="no" class="form-check-input" onclick="select_illness()">
                                        <label for="illness-no" class="form-check-label">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                    <label for="SMOKE" class="">Smoker</label>
                    <div class="radio-options">
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <div class="form-check">
                                    <input type="radio" name="SMOKER" id="smoker-yes" value="yes" class="form-check-input" onclick="select_smoker()">
                                    <label for="smoker-yes" class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="SMOKER" id="smoker-no" value="no" class="form-check-input" onclick="select_smoker()">
                                    <label for="smoker-no" class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="INSOM" class="">Has Insomnia</label>
                    <div class="radio-options">
                        <div class="row">
                            <div class="d-flex justify-content-center">                                <div class="form-check">
                                    <input type="radio" name="INSOMNIA" id="insomnia-yes" value="yes" class="form-check-input" onclick="select_insom()">
                                    <label for="insomnia-yes" class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="INSOMNIA" id="insomnia-no" value="no" class="form-check-input" onclick="select_insom()">
                                    <label for="insomnia-no" class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <label for="DRINK" class="">Alcohol Drinker</label>
                    <div class="radio-options">
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <div class="form-check">
                                    <input type="radio" name="DRINK" id="drinker-yes" value="yes" class="form-check-input" onclick="select_drink()">
                                    <label for="drinker-yes" class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="DRINK" id="drinker-no" value="no" class="form-check-input" onclick="select_drink()">
                                    <label for="drinker-no" class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sections">
            <span class="label" id="section-number">03</span> <span class="label" id="section-title">SOCIAL AND RELATIONSHIP CIRCUMSTANCES</span>
        </div>

        <div class="input">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <label for="LIVWITH" class="">Lives with Family or not (LIVWTH)</label>
                    <div class="radio-options">
                        <div class="row">
                            <div class="d-flex justify-content-center">                                <div class="form-check">
                                    <input type="radio" name="LIVWITH" id="livwith-yes" value="yes" class="form-check-input" onclick="select_livwith()">
                                    <label for="livwith-yes" class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="LIVWITH" id="livwith-no" value="no" class="form-check-input" onclick="select_livwith()">
                                    <label for="livwith-no" class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <label for="THREAT" class="">Faced threat (THREAT) </label>
                    <div class="radio-options">
                        <div class="row">
                            <div class="d-flex justify-content-center">                                <div class="form-check">
                                    <input type="radio" name="THREAT" id="threat-yes" value="yes" class="form-check-input" onclick="select_threat()">
                                    <label for="threat-yes" class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="THREAT" id="threat-no" value="no" class="form-check-input" onclick="select_threat()">
                                    <label for="threat-no" class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label for="CHEAT" class="">Felt Cheated (CHEAT) </label>
                        <div class="radio-options">
                            <div class="row">
                                <div class="d-flex justify-content-center">                                    <div class="form-check">
                                        <input type="radio" name="CHEAT" id="cheat-yes" value="yes" class="form-check-input" onclick="select_cheat()">
                                        <label for="cheat-yes" class="form-check-label">Yes</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" name="CHEAT" id="cheat-no" value="no" class="form-check-input" onclick="select_cheat()">
                                        <label for="cheat-no" class="form-check-label">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            
                <div class="col-md-4">
                    <label for="CONFLICT" class="">In Conflict with Family or Friends (CONFLICT) </label>
                        <div class="radio-options">
                            <div class="row">
                                <div class="d-flex justify-content-center">                                    <div class="form-check">
                                        <input type="radio" name="CONFLICT" id="conflict-yes" value="yes" class="form-check-input" onclick="select_conflict()">
                                        <label for="conflict-yes" class="form-check-label">Yes</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" name="CONFLICT" id="conflict-no" value="no" class="form-check-input" onclick="select_conflict()">
                                        <label for="conflict-no" class="form-check-label">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                    <label for="LOST" class="">Lost Someone (LOST) </label>
                    <div class="radio-options">
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <div class="form-check">
                                    <input type="radio" name="LOST" id="lost-yes" value="yes" class="form-check-input" onclick="select_lost()">
                                    <label for="lost-yes" class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="LOST" id="lost-no" value="no" class="form-check-input" onclick="select_lost()">
                                    <label for="lost-no" class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label for="ABUSED" class="">Felt Abused (ABUSED) </label>
                    <div class="radio-options">
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <div class="form-check">
                                    <input type="radio" name="ABUSED" id="abused-yes" value="yes" class="form-check-input" onclick="select_abused()">
                                    <label for="abused-yes" class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="ABUSED" id="abused-no" value="no" class="form-check-input" onclick="select_abused()">
                                    <label for="abused-no" class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="ENVSAT" class="">Satisfied with Environment (ENVSAT) </label>
                    <div class="radio-options">
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <div class="form-check">
                                    <input type="radio" name="ENVSAT" id="envsat-yes" value="yes" class="form-check-input" onclick="select_envsat()">
                                    <label for="envsat-yes" class="form-check-label">Yes</label>
                                </div>
                            
                                <div class="form-check">
                                    <input type="radio" name="ENVSAT" id="envsat-no" value="no" class="form-check-input" onclick="select_envsat()">
                                    <label for="envsat-no" class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <label for="TSSN" class="">Average hours in social network</label>
                    <select id="TSSN" class="form-select">
                        <option value="" disabled selected>Choose...</option>
                        <option value="Less than 2 hours">Less than 2 hours</option>
                        <option value="2-4 hours a day">2-4 hours a day</option>
                        <option value="5-7 hours a day">5-7 hours a day</option>
                        <option value="8-10 hours a day">8-10 hours a day</option>
                        <option value="More than 10 hours a day">More than 10 hours a day</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="sections">
            <span class="label" id="section-number">04</span> <span class="label" id="section-title">FINANCIAL CIRCUMSTANCE</span>
        </div>
        
        <div class="input text-center">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <label for="DEBT" class="label-margin">Had Debt (DEBT)</label>
                    <div class="radio-options">
                        <div class="d-flex justify-content-center">
                            <div class="form-check">
                                <input type="radio" name="DEBT" id="debt-yes" value="yes" class="form-check-input" onclick="select_debt()">
                                <label for="debt-yes" class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" name="DEBT" id="debt-no" value="no" class="form-check-input" onclick="select_debt()">
                                <label for="debt-no" class="form-check-label">No</label>
                            </div>
                        </div>
                    </div>
                </div>
        
                <div class="col-md-4">
                    <label for="FINSTR" class="label-margin">Financial Stress (FINSTR)</label>
                    <div class="radio-options">
                        <div class="d-flex justify-content-center">
                            <div class="form-check">
                                <input type="radio" name="FINSTR" id="finstr-yes" value="yes" class="form-check-input" onclick="select_finstr()">
                                <label for="finstr-yes" class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" name="FINSTR" id="finstr-no" value="no" class="form-check-input" onclick="select_finstr()">
                                <label for="finstr-no" class="form-check-label">No</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
        
        

        <div class="sections">
            <span class="label" id="section-number">05</span> <span class="label" id="section-title">PSYCHOLOGICAL WELL-BEING</span>
        </div>

        <div class="input">
            <div class="row">
                <div class="col-md-4">
                    <label for="ANXI" class="">Feels Anxiety (ANXI)</label>
                    <div class="radio-options">
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <div class="form-check">
                                    <input type="radio" name="ANXI" id="anxiety-yes" value="yes" class="form-check-input" onclick="select_anxi()">
                                    <label for="anxiety-yes" class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="ANXI" id="anxiety-no" value="no" class="form-check-input" onclick="select_anxi()">
                                    <label for="anxiety-no" class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <label for="INFER" class="">Inferiority Complex (INFER)</label>
                    <div class="radio-options">
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <div class="form-check">
                                    <input type="radio" name="INFER" id="infer-yes" value="yes" class="form-check-input" onclick="select_infer()">
                                    <label for="infer-yes" class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="INFER" id="infer-no" value="no" class="form-check-input" onclick="select_infer()">
                                    <label for="infer-no" class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <label for="EATDIS" class="">Has Eating Disorder (EATDIS) </label>
                        <div class="radio-options">
                            <div class="row">
                                <div class="d-flex justify-content-center">
                                    <div class="form-check">
                                        <input type="radio" name="EATDIS" id="eatdis-yes" value="yes" class="form-check-input" onclick="select_eatdis()">
                                        <label for="eatdis-yes" class="form-check-label">Yes</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" name="EATDIS" id="eatdis-no" value="no" class="form-check-input" onclick="select_eatdis()">
                                        <label for="eatdis-no" class="form-check-label">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            
                <div class="col-md-4">
                    <label for="DEPRI" class="">Feels Deprived (DEPRI) </label>
                        <div class="radio-options">
                            <div class="row">
                                <div class="d-flex justify-content-center">
                                    <div class="form-check">
                                        <input type="radio" name="DEPRI" id="depri-yes" value="yes" class="form-check-input" onclick="select_depri()">
                                        <label for="depri-yes" class="form-check-label">Yes</label>
                                    </div>
                                    <div class="form-check">
                                        <input type="radio" name="DEPRI" id="depri-no" value="no" class="form-check-input" onclick="select_depri()">
                                        <label for="depri-no" class="form-check-label">No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
            
                    <label for="SUICIDE" class="">Suicidal Thoughts (SUICIDE) </label>
                    <div class="radio-options">
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <div class="form-check">
                                    <input type="radio" name="SUICIDE" id="suicide-yes" value="yes" class="form-check-input" onclick="select_suicide()">
                                    <label for="suicide-yes" class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="SUICIDE" id="suicide-no" value="no" class="form-check-input" onclick="select_suicide()">
                                    <label for="suicide-no" class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="POSSAT" class="">Satisfied with Current Position or Achievements (POSSAT) </label>
                    <div class="radio-options">
                        <div class="row">
                            <div class="d-flex justify-content-center">
                                <div class="form-check">
                                    <input type="radio" name="POSSAT" id="possat-yes" value="yes" class="form-check-input" onclick="select_possat()">
                                    <label for="possat-yes" class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check">
                                    <input type="radio" name="POSSAT" id="possat-no" value="no" class="form-check-input" onclick="select_possat()">
                                    <label for="possat-no" class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <label for="WRKPRE" class="">Has Work/Study Pressure (WRKPRE) </label>
                    <select id="WRKPRE" class="form-select">
                        <option value="" disabled selected>Choose...</option>
                        <option value="No Pressure">No Pressure</option>
                        <option value="Moderate">Moderate</option>
                        <option value="Mild">Mild</option>
                        <option value="Severe">Severe</option>
                    </select>

                </div>
            </div>
        </div>
    <!-- is_depressed?
        <div class="sections">
            <span class="label" id="section-number">06</span> <span class="label" id="section-title">EVALUATION</span>
        </div>

        <div class="input">
            <div class="row">        
                <div class="col-md-4">
                    <label for="DEBT" class="">Depressed?</label>
                    <div class="radio-options">
                        <div class="row">
                            <div class="col-4">
                                <div class="form-check">
                                    <input type="radio" name="DEPRESSED" id="depressed-yes" value="yes" class="form-check-input" onclick="select_depressed()">
                                    <label for="depressed-yes" class="form-check-label">Yes</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input type="radio" name="DEPRESSED" id="depressed-no" value="no" class="form-check-input" onclick="select_depressed()">
                                    <label for="depressed-no" class="form-check-label">No</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-check">
                                    <input type="radio" name="DEPRESSED" id="depressed-na" value="no" class="form-check-input" onclick="select_depressed()">
                                    <label for="depressed-na" class="form-check-label">To be evaluated</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
            </div>
        </div>
    -->
        <div class = "button-fields">
            <span class = "button-fields-div">
                <button class = "save-button" onclick="saveRec()">SAVE RECORD</button>
            </span>
        </div>
    </div>
    
    <!-- <script src="../js/utils/login-check.js"></script> -->
    <script src="../js/utils/logout.js"></script>
    <script src="../js/utils/flash-username.js"></script>
    <script src="../js/view/form.js"></script>
</body>
</html>