<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" href="../style/user.css"> 

</head>
<body>

    <!-- NAV BAR -->
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a href="" class="navbar-brand"> <img src="../img/logo.png" alt=""> <span class="nav-logo">WEBSITE</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Dashboard</a> <!-- To insert link here-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Search</a> <!-- To insert link here-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Form</a> <!-- To insert link here-->
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Result</a> <!-- To insert link here-->
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <span class="msg">Logged in as <b>USERNAME</b></span>
                    </li>
                    <li class="nav-item">
                        <button type="submit" class="btn btn-primary" id="logout">Logout</button> <!-- BUTTON NOT PROPERLY PLACED -->
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    

    <!-- User Page CONTENTS -->
    <div class="container text-center">
        <p class = "h1"> USER PAGE</p>
        <div class="row">
            <div class="col">
                "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et 
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
                deserunt mollit anim id est laborum."
            </div>
        </div>

        <div class="row">
            <div id="res-summary">
                <div class="search-patient-table">
                    <table class="recordsTable" cellspacing="0">
                        <thead>
                            <tr class="records-table-header">
                                <th id="first-col">ID</th>
                                <th>Username</th>
                                <th>Role</th>
                                <th>Action</th>
                            </tr>
                        </thead>
        
                        <tbody id="tableData">
        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col" id="tag">
                <button class="btn btn-primary" id="res-btn3">User</button> <!-- REMOVE AS BUTTON -->
            </div>
            <div class="col">
                <!-- right div -->
            </div>
        </div>
    
        <div class="row">
            <div id="res-summary">
              <div id="res">
                <div class="input">
                  <div class="row">
                    <div class="col-md-3">
                      <label for="username" class="form-label">Username</label>
                      <input type="text" id="username" class="form-control">
                    </div>
          
                    <div class="col-md-3">
                      <label for="password" class="form-label">Password</label>
                      <input type="text" id="password" class="form-control">
                    </div>
          
                    <div class="col-md-3">
                      <label for="ROLE" class="">Role</label>
                      <select id="role" class="form-select">
                        <option value="" disabled selected>Choose...</option>
                        <option value="administrator">Admin</option>
                        <option value="physician">Physician</option>
                      </select>
                    </div>
                    
                    <div class="col-md-3">
                      <button class="add-btn btn btn-primary btn-block mb-4" id="res-btn1">Add</button>
                    </div>
          
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          


    </div>


    
    

<script src="../js/view/user.js"></script>
</body>
</html>